{% extends 'templates/base.html' %}
{% block content %}
  <form method="post">
    {% csrf_token %}
    {% if tiles %}
       <h2>Найденные постеры</h2>
      <div class="content">
      {% for tile in tiles %}
        <div class="tile">
          <h3>{{ tile.name }}</h3>
        <img style="width: 200px;" src="{{ tile.poster_url }}" alt=""><br>
        <p>Год выпуска: {{ tile.year }}</p><br>
        <p>Рейтинг кинопоиска: {{ tile.rating.kp }}</p><br>
        <p>Рейтинг IMDB: {{ tile.rating.imdb }}</p><br>
        <p>
          Жанр:
          {% for genre in tile.genres %}
            {{ genre }},
          {% endfor %}
        </p><br>
        <p>
        Страна:
          {% for country in tile.countries %}
            {{ country }}, <br>
          {% endfor %}
        </p><br>
        <p>{{ tile.description|truncatewords:20 }}</p>
        {% if user.is_authenticated %}
          <div class="checkbox">
            <input type="checkbox" id="{{ tile.id }}" name="tile" value="{{ tile.id }}">
            <label for="{{ tile.id }}">Добавить</label><br>
          </div>
        {% endif %}
        </div>
      {% endfor %}
      </div>
    {% endif %}
    {% if user.is_authenticated %}
      <input class="button" type="submit" value="Сохранить">
    {% endif %}

  </form>
  <form action="{% url 'selections:random_tile' %}">
        <input class="button" type="submit" value="Искать еще" />
  </form>
  {% if not user.is_authenticated %}
  <div class="content">
    <p>Для добавления фильма в коллекцию Вам необходимо войти или зарегистрироваться</p>
  </div>
    <a class="button" href="{% url 'users:signup' %}?next={{ request.get_full_path|urlencode }}">Регистрация</a>
    <a class="button" href="{% url 'users:login' %}?next={{ request.path }}">Вход</a>
  {% endif %}
{% endblock %}